# Python
.venv/
venv/
__pycache__/
*.pyc
*.egg-info/
.pytest_cache/

# Environment variables
.env
.env.*

# Poetry
.poetry/

# Operating System
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and temporary files
*.log
*.tmp
*.swp